.DS_Store
__pychache__
__pychache__/*
*/__pychache__/*
dataloaders/__pychache__
dataloaders/__pychache__/*
dataloaders/.DS_Store
models/__pychache__
models/__pychache__/*
models/.DS_Store
trainers/__pychache__
trainers/__pychache__/*
trainers/.DS_Store
spatial_transform_rotation/__pychache__
spatial_transform_rotation/__pychache__/*
spatial_transform_rotation/.DS_Store


